body{
  background-image: linear-gradient( 99deg,  #680017 10.6%, #40000E 118% );
}
.content-page{
  width: 100vw;
  height: 100vh;
}

.aside{
  background: rgba(0,0,0,.5);
  border-radius: 1em 0 0 1em;
}
.ped_btn{
  background: none;
  border: none;
  height: 75px;
}
.ped_btn i{
  font-size: 2em;
  padding: 8px;
  color: #aaa;
  background-color: rgba(0,0,0,.5);
  border-radius: 5px;
}
.ped_btn span{
  font-size: 1.2em;
  color: #aaa;
}

.ped_btn-active i{
  background-color: rgba(254,0,57,.5);
}
.ped_btn-active span{
  color: #fe0039;
}


.main{
  background: rgba(0,0,0,.35);
  border-radius: 0 1em 1em 0;
}
.main .logo img{
  height: 150px;
  height: 150px;
}
.pedido{
  width: 80%;
  height: 175px;
  background: rgba(0,0,0,.5);
  border: 1px solid #fe0039;
  border-radius: 2em;
}
.list_pedidos{
  margin-top: 100px;
}
.pedido_perfil img{
  padding: 2px;
  border-radius: 2em 0 0 2em;
}
.contennt_pedido{
  border-left: #fe0039 1px solid;
}